<nav class="navbar fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="favicon.ico" width="30" height="30" class="d-inline-block align-top" alt=""> Bliss Applications Test
    </a>
    <span class="author">By: André Peixoto</span>
</nav>

<div id="main-container" class="container-fluid">
    <router-outlet></router-outlet>
</div>

<div class="container-fluid no-connection-overlay" *ngIf="!isConnected">
    <div class="row align-items-center">
        <div class="col connection-message">
            <h2>Please, check your internet connection...</h2>
        </div>
    </div>
</div>